*.iml
.gradle/
/build/
/app/build/
/captures/
.externalNativeBuild/
.cxx/
local.properties
*.apk
*.ap_
*.aab
*.dex
*.class

.idea/
!.idea/codeStyles/
!.idea/inspectionProfiles/

.DS_Store
/Thumbs.db
*.log
*.hprof
.kotlin/
